a {
    color: #ffffff;
    text-decoration: none;
    
    background-color: transparent;
}
body{
    background-color: #f2f7fb;
    color: #ffffff;
    font-family: CeraPRO,arial,helvetica,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.home-header {
    .row{
        max-width: 1320px;
        margin:auto;
    }
    .main-header {
        height: 100%;
        padding: 20px;
        background: #005aaa;
        .page-title{
            margin:auto;
        }
        .nhl-logo {
             fill: #ffffff;
             height: 80px;
        }
        .navbar {
            text-align: end;
        }
        
     }
     .sub-header {
         height:40px;
         background: #013A75;
        .row{
            height:100%;
        }
     }
}
.top-body-item{
    img{
        display:block;
    }
}
.top-item-text {
    text-align: center;
    width:100%;
    padding-top:50px;
    text-shadow:2px 2px 3px black;
   
    
    
}
@media (min-width:640px){
    .top-item-text{
        h1{
            font-size:2rem;
        }
        p {
            font-size:1.1rem;
        }
    }
}

@media (min-width:768px){
    .top-item-text{
        h1{
            font-size:3rem;
        }
        p {
            font-size:1.3rem;
        }
    }
}
@media (min-width:1024px){
    .top-item-text {
        h1 {
            font-size:4rem;
        }
        p {
            font-size:1.5rem;
        }
    }
}

  
